openapi: 3.0.0
info:
  title: Elixpo Accounts Internal API
  version: 1.0.0
  description: API endpoints for Elixpo Accounts internal architecture documentation.
servers:
  - url: https://accounts.elixpo.com/api
    description: Production server
paths:
  /auth/login:
    post:
      summary: User login with email and password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
      responses:
        '200':
          description: Successful login
        '401':
          description: Invalid credentials
  /auth/register:
    post:
      summary: User registration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
                displayName:
                  type: string
      responses:
        '201':
          description: User created successfully
        '400':
          description: Invalid input
  /auth/me:
    get:
      summary: Get current user profile
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User profile information
        '401':
          description: Unauthorized
    patch:
      summary: Update user profile
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                displayName:
                  type: string
                avatar:
                  type: string
      responses:
        '200':
          description: Profile updated successfully
        '400':
          description: Invalid input
        '401':
          description: Unauthorized
  /auth/token:
    post:
      summary: Exchange authorization code or refresh token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/AuthorizationCodeGrant'
                - $ref: '#/components/schemas/RefreshTokenGrant'
      responses:
        '200':
          description: Tokens issued successfully
        '400':
          description: Invalid grant type or parameters
  /auth/oauth-clients:
    get:
      summary: List registered OAuth clients
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of OAuth clients
        '401':
          description: Unauthorized
    post:
      summary: Register a new OAuth client
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                clientName:
                  type: string
                redirectUris:
                  type: array
                  items:
                    type: string
      responses:
        '201':
          description: OAuth client created
        '400':
          description: Invalid input
        '401':
          description: Unauthorized
components:
  schemas:
    AuthorizationCodeGrant:
      type: object
      properties:
        grant_type:
          type: string
          enum: [authorization_code]
        code:
          type: string
        client_id:
          type: string
        client_secret:
          type: string
        redirect_uri:
          type: string
    RefreshTokenGrant:
      type: object
      properties:
        grant_type:
          type: string
          enum: [refresh_token]
        refresh_token:
          type: string
        client_id:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
